
html{
    box-sizing: border-box;
}
*,*::before,*::after{
   box-sizing: inherit;
}
body{
   font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    /*color: #102746;*/
    margin: 0;
    padding: 0;

}

.text_table{
    text-align: center;
}
.table_stile{
    /*display: flex;
    justify-content: center;*/
}
.table_stile_table{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.table_title_req{
    width: 140px;
    border: 1px solid black;
}
.table_list_req{
    text-align: center;
    padding: 3px;
    border: 1px solid black;
    width: 200px;
}
.table_view{
    display: flex;
    justify-content: center;
}
.table_stile:first-child{
    margin-top: 20px;
}
.table_list{
    text-align: center;
    padding: 3px;
    border: 1px solid black;
    width: 150px;
}
.table_title_client{
    width: 150px;
    border: 1px solid black;
}
.table_cont_table{
    display: flex;
    justify-content: center;
}
.list_services{
    width: 200px;
}
.list_washer{
    width: 200px;
}
.table_title_theme_date{
    width: 200px;
}
.list_det_orders{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.table_title_deter{
    width: 240px;
    border: 1px solid black;
}
.table_title_orders{
    width: 190px;
    border: 1px solid black;


}

p{
    margin-top: 10px;
    margin-bottom: 0;

}
.p_hello{
    font-weight: bolder;
    margin-left: 50px;
}
.hello_header{
display: flex;
justify-content: space-between;
margin-right: 40px;
}

.button7{
font-weight: 700;

text-decoration: none;
padding: .8em 1em calc(.8em + 3px);
border-radius: 3px;
background: rgb(64,199,129);
box-shadow: 0 -3px rgb(53,167,110) inset;
transition: 0.2s;
cursor: pointer;
}
.button7:hover { background: rgb(53, 167, 110); }
.button7:active {
background: rgb(33,147,90);
box-shadow: 0 3px rgb(33,147,90) inset;
}
.btn{
margin-right: 30px;
}
.btn_href{
text-decoration: none;
text-align: center;
color: black;
}


.wrapper{
margin: 0 auto;
}
/* Header styles start */
.header{
    background: lightgray;
    justify-content: space-between;
    display: flex;
}
.action_list{
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    display: flex;
    justify-content: space-around;
}

.action_method{
    display: inline;
    border: 1px solid #000;
    padding: 5px;
    margin-right: 30px;


}
.action_href{
    color: black;
    text-decoration: none;
}
.header_active{
    background: #C0C0C0;
}
.header__wrapper{
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}
.header__nav{
    display: flex;
}
.text__header{
    font-size: larger;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
}

.regContent{
    margin-top: 30px;
    text-align: center;
}
.msg{
    border: 2px solid red;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}



/* Header styles end */

/*Section styles start*/
.section-registration_autorization{
    padding-bottom: 50px;
}
.registration__title{
    text-align: center;
}
.form__bg{
    margin-top: 30px;
}
.cont__reg{
    padding-top: 100px;
    padding-bottom: 100px;
}
.regContentSection{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-info__form{
    margin-top: 50px;
}
.head_form_text{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.heading_text{
    text-align: center;
    font-size: 35px;
}
.head_form_content{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 100px;
    font-size: 20px;
}
.head_form_content_text_title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.form_create_tic{
    margin-top: 150px;
   /* margin-bottom: 200px;*/
}
.form_create_tic_heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.form_create_tic_cont{
    text-align: center;
    margin-bottom: 50px;
}
.form_create_tic_cont:last-child{
    margin-bottom: 30px;
}
.form_create_tic_content{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 100px;
}
.section-create{
    margin-bottom: 50px;
}
.ticket_instruments{
    margin-bottom: 30px;
    /*display: flex;*/
}
.ticket__title{
    font-size: 25px;
    margin-bottom: 10px;
}
.table_title_theme {
    font-size: 15px;
}
.ticket__body_problems{
    width: 500px;
    height: 350px;
    font-size: 17px;
}
.poster-img__add{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 400px;
}
.button_screenshot_file{
    overflow: hidden;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;

}
.ticket_instruments:last-child{
    margin-bottom: 50px;
}

.ticket_content_bd{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    border-bottom: 5px solid grey;
}
.ticket_content_bd_list{
    margin-bottom: 30px;
}
.ticket_content_title{
    font-size: 40px;
}
.ticket_content_li{
    font-size: 40px;
}
.list_ticket_ticket{
    display: flex;
    justify-content: center;
}
.list_ticket_ticket_block{
    text-align: center;
    font-size: 30pX;
}
.ticket_theme_Contents{
    margin-top: 50px;
}
.ticket_descript_text{
    margin-top: 30px;
    width: 700px;
    height: 350px;
    font-size: 25px;
}
.ticket_theme_a{
    color: black;
}
.ticket_message_form{
    display: flex;
    justify-content: center;
    font-size: 25pX;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.message_add_textarea{
    margin-bottom: 30px;
}
.message_add_textarea-redacted{
    width: 450px;
    height: 100px;
}
.message_users{
    font-size: 30px;
    margin-bottom: 40px;
}
.message_users_textarea-redacted{
    font-size: 25px;
    margin-top: 20px;
    width: 700px;
}
.message_users_pole{
    border: 5px solid black;
    width: 1000px;
}

.redaction_ticket{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.bt{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn_submit{
    font-size: 25px;
}
.b_none{
    font-weight: 700;
    padding: .8em 1em calc(.8em + 3px);
    background: white;
    color: white;
}
.btn_add{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



.input{
    font-size: 25px;
}

.checkbox_ticket_h1{
    font-size: 50px;
}
.checkbox_ticket{
    height: 30px;
    width: 30px;
}

.table_cont{
    display: flex;
    justify-content: center;
}
.form_table{
    display: flex;
    justify-content: center;
    margin-right: 6px;
}

.table_stile_add{
    display: flex;
    justify-content: center;
}


    /*Section styles end*/






/*Footer styles start*/

.footer {
    background: #474444;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 14px;
}

.footer__by {
    color: white;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.footer__by:hover {
    color: #FF2B2B;
}
/*Footer styles end*/










